<div class="home-list-item">
  <div class="box-item whiteframe-1dp">
    <%= link_to controller: 'movies' do %>
      <span class="glyphicon glyphicon-film"></span>
      <h3>Movies</h3></div>
    <% end %>
    </div>
</div>