/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
}

.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  display: block;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

/* Custom container */
.container-fixed {
  margin: 60px auto;
  max-width: 480px;
}

.navbar-nav
{
  float:right;
}

h3 a
{
  font-size: 24pt;
}

.img_cover{
  max-width: 150px;
}

.whiteframe-1dp {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.box-item {
  height: 170px;
  width: 150px;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
}

.box-item span.glyphicon {
  font-size: 4em;
  padding: 20px 0 30px 0;
}

.box-item h3 {
  font-weight: bold;
}

.box-item:hover {
  background-color: #E4E4E4;
  cursor: pointer;
}

.box-item a {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

h2 {
  margin-top: 10px;
}

.page-header {
  padding-bottom: 0;
  margin: 0 0 10px;
}