.container-image {
  background-color : #f7f7f7;
  height           : 353px;
  width            : 250px;
  position         : relative;
  padding          : 5px;
}

.container-image-detail {
  //width  : 342px;
  //height : 491px;
}

.table-height {
  min-height: 580px;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}