<footer class="footer">
    <small>
      © <span class="current-year"></span> Project Movie - All rights reserved.
    </small>
    <small style="float:right">v2.0.2</small>
  </div>
</footer>

<script>
    $(document).ready(function(){
        $('.current-year').text(new Date().getFullYear());
    });
</script>
